@import './general/variables';

* {
    margin: 0;
    padding: 0;
	font-family: 'Georgia'; 
}
main, footer, #lineas{
	@include oh;
}
.nav-item {
	margin-left: 4rem;
}
.item {
	transition: .5s ease-in-out;
	&:hover {
		filter: brightness(80%);
	}
}
#galeria-div {
    margin: 1rem !important;
	border: 1px solid #F4F4F4;
	border-radius: 10px;
	margin-bottom: 14px;
    padding-top: 0px;
	
}
.card {
	margin: 2rem;
	padding-top: 15px;
	font-size: large;
	font-style: italic;
}
#boton-cont {
	background-color: transparent;
	border: 1px solid white;
	&:hover {
		background-color: #663399;
		box-shadow: 0 0 10px #663399, 0 0 40px #663399, 0 0 80px #663399;
		transition-delay: 0.5;
	}
}
@media (max-width: 990px) {
	#lineas {
		display: none;
	}
	.jumbotron {
		text-align: center;
		transform: translateY(5rem);
	}
	#container-index {
		background-color: transparent;
	}
	#div-bv {
		transform: translateY(-5rem);
	}
}
@media (max-width: 768px) {
	form {
		overflow: visible;
		position: relative;
	}
	#footer-cont {
		position: absolute;
		display: none;
		bottom: 0;
	}
}
