/* Colores */
$primary-color: white;
$secondary-color: #acad94;
$text-color: black;
$palette: (     
    'primary': rgb(26,11,107),
    'secondary': rgb(12,204,70),
    'dark': #000,
    'blue': rgb(21,8,212),
    'orange': orange,
)








