/* Map */
$color: (
    primary: white,
    secondary: black,
    third: #ACAD94,
);

/* Map-get, Extend */
.card-body {
    color: map-get($color,'secondary');
};
.bvh1{
    color: map-get($color,'primary');
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold
};
.bvp {
    @extend .bvh1;
    font-size: large;
};

/* Mixins */
@mixin oh {
    overflow: hidden;
};











