/* Map */
$color: (
    primary: white,
    secondary: black,
    third: #ACAD94,
);

/* Map-get, Extend */
.card-body {
    color: map-get($color,'secondary');
};
.bvh1{
    color: map-get($color,'primary');
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
};
.bvp {
    @extend .bvh1;
    font-size: large;
    font-weight: lighter;
};

/* Mixins */
@mixin oh {
    overflow: hidden;
};
@mixin todo ($fondo, $fimagen){
    background-color: $fondo;
    background-image: $fimagen;
}
.page-footer, .navbar {
	@include todo (whitesmoke, none)
}
#container-index {
	@include todo (none, transparent)
}
.card {
    @include todo (transparent, none)
}
#galeria {
    @include todo (whitesmoke, none)
}
main {
	@include todo (#ACAD94, none)
}
#mainix {
	@include todo (whitesmoke, none)
}
.jumbotron {
	@include todo (#ACAD94, none)
}
#section-cont {
    @include todo (#ACAD94, none)
}










